body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
}

.container, #result {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

#threshold {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
}

button:hover {
    background-color: #0056b3;
}

#progressDiv {
    display: none;
    margin-top: 20px;
}

#progressBar {
    width: 0%;
    height: 30px;
    background-color: #28a745;
    border-radius: 5px;
    line-height: 30px;
    color: white;
    text-align: center;
    transition: width 0.4s ease;
}

#result {
    margin-top: 20px;
    text-align: left;
    color: #333;
    font-size: 14px;
    word-wrap: break-word;
}

pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}